.built_in_lists ul {
  padding-left: 15px;
}

.built_in_lists li {
  font-family: "Montserrat";
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  color: #c7dfff;
  margin-right: 20px;
  transition: 0.2s;
  user-select: none;

  /* Look I'm only trying to center this ok? */
  display: flex;
  align-items: center;
  gap: 5px;
}

.blue_list_icon {
  color: #c7dfff;
  user-select: none;
}

.selected_list {
  background-color: #edf5ff;
  padding: 13px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #475566 !important;
  transition: 0.2s;
  margin-left: -10px;
}

.selected_list .blue_list_icon {
  color: #475566 !important;
}

.user_created_list h4 {
  cursor: default;
  user-select: none !important;
}
